@use 'mixins';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  font-family: 思源黑体;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased; /* 对 macOS Safari 较有效 */
  -moz-osx-font-smoothing: grayscale; /* 对 Firefox 较有效 */
}

.wrapper {
  max-width: 1920px;
  padding: 0 28px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 200px;
  }
}

.bordered-button {
  background-color: rgba(0, 0, 0, 0.3);
}

.text-title {
  font-family: 庞门正道;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-number {
  font-family: D-DIN;
}

.text-number-title {
  font-family: Furore;
}

.ellipsis-3 {
  @include mixins.ellipsis(3);
}

.ellipsis-2 {
  @include mixins.ellipsis(2);
}

.ellipsis-1 {
  @include mixins.ellipsis(1);
}

.glow-text {
  text-shadow: 0 0 9px #158eff;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* 滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 6px;
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background-color: #f3f4f6;
  border-radius: 6px;
}
